<div>
  <div class="flex flex-row items-center">
    <button mat-raised-button [disabled]="!!selectedFile" (click)="openFileView()">Open file (.csv)</button>
    <button mat-raised-button *ngIf="selectedFile" (click)="resetFile()">Reset file</button>
    <button mat-raised-button color="primary" [disabled]="!selectedFile" (click)="resetFile()">PUSH TO DATABASE</button>
    <input type="file" class="hidden" #fileInput (change)="changeFile()" [multiple]="false" />
  </div>

  <div>
    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>
      <ng-container matColumnDef="doublon">
        <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Sort by doublon">Doublon</th>
        <td *matCellDef="let element" mat-cell>{{ element.doublon }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Sort by date">Date</th>
        <td *matCellDef="let element" mat-cell>{{ element.date.toLocaleDateString() }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Sort by name">Name</th>
        <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Sort by price">Price</th>
        <td *matCellDef="let element" mat-cell>{{ element.price }}</td>
      </ng-container>

      <ng-container matColumnDef="path">
        <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Sort by category">Category</th>
        <td *matCellDef="let element" mat-cell>{{ element.categoryName }}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" class="row-header" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns" class="b" mat-row></tr>
    </table>
  </div>
  <div class="element">
    <mat-paginator [pageSizeOptions]="[50, dataSource.data.length]" showFirstLastButtons></mat-paginator>
  </div>
</div>
