.container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-width: 100%;
}

.element {
  flex-grow: 1;
}

.shrinkable {
  flex-grow: 1;
  overflow-y: auto;
}

mat-expansion-panel {
  background: #f9f9f9;
}

.row-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}

.b:nth-child(even) {
  background: #efefef;
}

.b:nth-child(odd) {
  background: white;
}
