@import "@angular/material/prebuilt-themes/indigo-pink.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
  user-select: none;
}

.mdc-notched-outline__notch {
  border-right: none !important;
}

mat-icon.disable {
  filter:opacity(0.5);
}
